
  <div class="form-group">
    <%= simple_form_for(@service) do |f| %>
      <%= f.input :category %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :price %></br>

      <%= f.button 'submit', class: 'form-control' %>
    <% end %>
  </div>
